.splitter.splitter-spaced {
	color: $card-section-header-color;
	font-size: $card-section-header-font-size;
	font-weight: $card-section-header-font-weight;
	line-height: $card-section-header-line-height;
	margin-bottom: $card-section-header-margin-bottom;
	padding: $card-section-header-padding;
	text-transform: $card-section-header-text-transform;
}