// Portlet Topper

$portlet-topper-bg: $light !default;
$portlet-topper-border: $gray-400 !default;
$portlet-topper-color: rgba($black, 0.5) !default;
$portlet-topper-link-color: rgba($black, 0.5) !default;
$portlet-topper-link-hover-color: rgba($black, 0.7) !default;

$portlet-topper-border-radius: $border-radius $border-radius 0 0 !default;

$portlet-topper-border-bottom-width: 1px !default;
$portlet-topper-border-left-width: 1px !default;
$portlet-topper-border-right-width: 1px !default;
$portlet-topper-border-top-width: 1px !default;
$portlet-topper-border-width: $portlet-topper-border-top-width $portlet-topper-border-right-width $portlet-topper-border-bottom-width $portlet-topper-border-left-width !default;

$portlet-content-border-radius: 0 0 $border-radius $border-radius !default;

$portlet-content-border-bottom-width: 1px !default;
$portlet-content-border-left-width: 1px !default;
$portlet-content-border-right-width: 1px !default;
$portlet-content-border-top-width: 1px !default;
$portlet-content-border-width: $portlet-content-border-top-width $portlet-content-border-right-width $portlet-content-border-bottom-width $portlet-content-border-left-width !default;

// Portlet Decorator

$portlet-decorate-bg: $body-bg !default;
$portlet-decorate-border-color: $gray-400 !default;
$portlet-decorate-border-style: solid !default;
$portlet-decorate-border-width: $portlet-content-border-width !default;

// Portlet Header

$portlet-header-margin-bottom: map-get($spacers, 3) !default;